@{
    ViewBag.Title = "Sortable";
}
<div class="content-heading">
   <div>Sortable
      <small>Lightweight jQuery plugin to create sortable lists and grids using native HTML5 drag and drop API.</small>
   </div>
</div>
<ul class="list-group sortable">
   <li class="list-group-item">
      <em class="fas fa-bars fa-fw text-muted mr-3"></em>Donald Hoffman</li>
   <li class="list-group-item">
      <em class="fas fa-bars fa-fw text-muted mr-3"></em>Wallace Barrett</li>
   <li class="list-group-item">
      <em class="fas fa-bars fa-fw text-muted mr-3"></em>Marsha Hicks</li>
   <li class="list-group-item">
      <em class="fas fa-bars fa-fw text-muted mr-3"></em>Roland Brown</li>
</ul>
@section Scripts {
    <script src="@Scripts.Url("~/Vendor/html5sortable/dist/html5sortable.js")"></script>
}
