@{
    ViewBag.Title = "ChartJs";
}
<div class="content-heading">Chart JS</div>
<div class="container-fluid container-md">
   <div class="row mb-3">
      <div class="col-xl-6">
         <h3 class="mb-3 py-2">Line Chart</h3>
         <div>
            <canvas id="chartjs-linechart"></canvas>
         </div>
      </div>
      <div class="col-xl-6">
         <h3 class="mb-3 py-2">Bar Chart</h3>
         <div>
            <canvas id="chartjs-barchart"></canvas>
         </div>
      </div>
   </div>
   <div class="row mb-3">
      <div class="col-lg-6">
         <h3 class="mb-3 py-2">Polar Area Chart</h3>
         <div>
            <canvas id="chartjs-polarchart"></canvas>
         </div>
      </div>
      <div class="col-lg-6">
         <h3 class="mb-3 py-2">Radar Chart</h3>
         <div>
            <canvas id="chartjs-radarchart"></canvas>
         </div>
      </div>
   </div>
   <div class="row mb-3">
      <div class="col-lg-6">
         <h3 class="mb-3 py-2">Pie Chart</h3>
         <div>
            <canvas id="chartjs-piechart"></canvas>
         </div>
      </div>
      <div class="col-lg-6">
         <h3 class="mb-3 py-2">Doughnut Chart</h3>
         <div>
            <canvas id="chartjs-doughnutchart"></canvas>
         </div>
      </div>
   </div>
</div>

@section Scripts {
    <script src="@Scripts.Url("~/Vendor/chart.js/dist/Chart.js")"></script>
}
