@{
    ViewBag.Title = "ChartChartist";
}
<div class="content-heading">Chartist</div>
<div class="container-fluid">
   <div class="row">
      <div class="col-lg-4">
         <div class="card card-default">
            <div class="card-header">Bar bipolar</div>
            <div class="card-body">
               <div id="ct-bar1"></div>
            </div>
         </div>
      </div>
      <div class="col-lg-4">
         <div class="card card-default">
            <div class="card-header">Bar Horizontal</div>
            <div class="card-body">
               <div id="ct-bar2"></div>
            </div>
         </div>
      </div>
      <div class="col-lg-4">
         <div class="card card-default">
            <div class="card-header">Line</div>
            <div class="card-body">
               <div id="ct-line1"></div>
            </div>
         </div>
      </div>
   </div>
   <div class="row">
      <div class="col-lg-6">
         <div class="card card-default">
            <div class="card-header">Smil Animations</div>
            <div class="card-body">
               <div id="ct-line2"></div>
            </div>
         </div>
      </div>
      <div class="col-lg-6">
         <div class="card card-default">
            <div class="card-header">SVG Path Animations</div>
            <div class="card-body">
               <div id="ct-line3"></div>
            </div>
         </div>
      </div>
   </div>
</div>
@section Styles {
    <link href="@Styles.Url("~/Vendor/chartist/dist/chartist.css")" rel="stylesheet" />
}
@section Scripts {
    <script src="@Scripts.Url("~/Vendor/chartist/dist/chartist.js")"></script>
}
