@{
    ViewBag.Title = "Template";
}
<div class="content-heading">
   <div>Page title
      <small>Subtitle</small>
   </div>
</div>
<div class="row">
   <div class="col-xl-12">
      <p>A row with content</p>
   </div>
</div>
@section Styles {

}
@section Scripts {

}

