@{
    ViewBag.Title = "FormUpload";
}
<div class="content-heading">Dropzone File Upload</div>
<div class="container container-lg">
   <div class="mb-3">
      <p class="m-0 text-center">DropzoneJS is an open source library that provides drag&apos;n&apos;drop file uploads with image previews.
         <br/>It’s lightweight, doesn’t depend on any other library (like jQuery) and is<a class="ml-2" href="http://www.dropzonejs.com/" target="_blank">highly customizable</a>
      </p>
   </div>
   <form class="dropzone mb-3 card d-flex flex-row justify-content-center flex-wrap" id="dropzone-area" action="#">
      <div id="dropzone-previews"></div>
      <div class="text-right w-100">
         <button class="btn btn-primary btn-lg" type="submit">
            <strong>Send</strong>
         </button>
      </div>
   </form>
   <p>
      <small class="text-muted">This demo does not upload files to any server.</small>
   </p>
</div>
@section Styles {
    <link rel="stylesheet" href="~/vendor/dropzone/dist/basic.css">
    <link rel="stylesheet" href="~/vendor/dropzone/dist/dropzone.css">
}
@section Scripts {
    <script src="@Scripts.Url("~/Vendor/dropzone/dist/dropzone.js")"></script>
}

