@{
    ViewBag.Title = "Faq";
}
<div class="container container-md">
   <div class="row mb-3">
      <div class="col-lg-8">
         <div class="h1 text-bold">FAQs</div>
         <p class="text-muted">Praesent id mauris urna, et tristique lectus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
      </div>
      <div class="col-lg-4">
         <div class="card">
            <div class="card-body text-center">
               <p class="mb-3">Sed semper diam vitae purus tristique at scelerisque massa ultricies.</p>
               <button class="btn btn-info" type="button">Contact support</button>
            </div>
         </div>
      </div>
   </div>
   <h4 class="my-3 py-4 text-dark">Some presale Questions</h4>
   <div id="accordion1">
      <div class="card b0 mb-2">
         <div class="card-header">
            <h4 class="card-title">
               <a class="text-inherit" data-toggle="collapse" data-parent="#accordion1" href="#acc1collapse1">
                  <small>
                     <em class="fa fa-plus text-primary mr-2"></em>
                  </small>
                  <span>How can I change the color?</span>
               </a>
            </h4>
         </div>
         <div class="collapse" id="acc1collapse1">
            <div class="card-body">
               <p>Donec congue sagittis mi sit amet tincidunt. Quisque sollicitudin massa vel erat tincidunt blandit. Curabitur quis leo nulla. Phasellus faucibus placerat luctus. Integer fermentum molestie massa at congue. Quisque quis quam dictum diam
                  volutpat adipiscing.</p>
               <p>Proin ut urna enim.</p>
               <div class="text-right">
                  <small class="text-muted mr-2">Was this information useful?</small>
                  <button class="btn btn-secondary btn-xs" type="button">
                     <em class="fa fa-thumbs-up text-muted"></em>
                  </button>
                  <button class="btn btn-secondary btn-xs" type="button">
                     <em class="fa fa-thumbs-down text-muted"></em>
                  </button>
               </div>
            </div>
         </div>
      </div>
      <div class="card b0 mb-2">
         <div class="card-header">
            <h4 class="card-title">
               <a class="text-inherit" data-toggle="collapse" data-parent="#accordion1" href="#acc1collapse2">
                  <small>
                     <em class="fa fa-plus text-primary mr-2"></em>
                  </small>
                  <span>How can I change the color?</span>
               </a>
            </h4>
         </div>
         <div class="collapse" id="acc1collapse2">
            <div class="card-body">
               <p>Donec congue sagittis mi sit amet tincidunt. Quisque sollicitudin massa vel erat tincidunt blandit. Curabitur quis leo nulla. Phasellus faucibus placerat luctus. Integer fermentum molestie massa at congue. Quisque quis quam dictum diam
                  volutpat adipiscing.</p>
               <p>Proin ut urna enim.</p>
               <div class="text-right">
                  <small class="text-muted mr-2">Was this information useful?</small>
                  <button class="btn btn-secondary btn-xs" type="button">
                     <em class="fa fa-thumbs-up text-muted"></em>
                  </button>
                  <button class="btn btn-secondary btn-xs" type="button">
                     <em class="fa fa-thumbs-down text-muted"></em>
                  </button>
               </div>
            </div>
         </div>
      </div>
      <div class="card b0 mb-2">
         <div class="card-header">
            <h4 class="card-title">
               <a class="text-inherit" data-toggle="collapse" data-parent="#accordion1" href="#acc1collapse3">
                  <small>
                     <em class="fa fa-plus text-primary mr-2"></em>
                  </small>
                  <span>How can I change the color?</span>
               </a>
            </h4>
         </div>
         <div class="collapse" id="acc1collapse3">
            <div class="card-body">
               <p>Donec congue sagittis mi sit amet tincidunt. Quisque sollicitudin massa vel erat tincidunt blandit. Curabitur quis leo nulla. Phasellus faucibus placerat luctus. Integer fermentum molestie massa at congue. Quisque quis quam dictum diam
                  volutpat adipiscing.</p>
               <p>Proin ut urna enim.</p>
               <div class="text-right">
                  <small class="text-muted mr-2">Was this information useful?</small>
                  <button class="btn btn-secondary btn-xs" type="button">
                     <em class="fa fa-thumbs-up text-muted"></em>
                  </button>
                  <button class="btn btn-secondary btn-xs" type="button">
                     <em class="fa fa-thumbs-down text-muted"></em>
                  </button>
               </div>
            </div>
         </div>
      </div>
      <div class="card b0 mb-2">
         <div class="card-header">
            <h4 class="card-title">
               <a class="text-inherit" data-toggle="collapse" data-parent="#accordion1" href="#acc1collapse4">
                  <small>
                     <em class="fa fa-plus text-primary mr-2"></em>
                  </small>
                  <span>How can I change the color?</span>
               </a>
            </h4>
         </div>
         <div class="collapse" id="acc1collapse4">
            <div class="card-body">
               <p>Donec congue sagittis mi sit amet tincidunt. Quisque sollicitudin massa vel erat tincidunt blandit. Curabitur quis leo nulla. Phasellus faucibus placerat luctus. Integer fermentum molestie massa at congue. Quisque quis quam dictum diam
                  volutpat adipiscing.</p>
               <p>Proin ut urna enim.</p>
               <div class="text-right">
                  <small class="text-muted mr-2">Was this information useful?</small>
                  <button class="btn btn-secondary btn-xs" type="button">
                     <em class="fa fa-thumbs-up text-muted"></em>
                  </button>
                  <button class="btn btn-secondary btn-xs" type="button">
                     <em class="fa fa-thumbs-down text-muted"></em>
                  </button>
               </div>
            </div>
         </div>
      </div>
      <div class="card b0 mb-2">
         <div class="card-header">
            <h4 class="card-title">
               <a class="text-inherit" data-toggle="collapse" data-parent="#accordion1" href="#acc1collapse5">
                  <small>
                     <em class="fa fa-plus text-primary mr-2"></em>
                  </small>
                  <span>How can I change the color?</span>
               </a>
            </h4>
         </div>
         <div class="collapse" id="acc1collapse5">
            <div class="card-body">
               <p>Donec congue sagittis mi sit amet tincidunt. Quisque sollicitudin massa vel erat tincidunt blandit. Curabitur quis leo nulla. Phasellus faucibus placerat luctus. Integer fermentum molestie massa at congue. Quisque quis quam dictum diam
                  volutpat adipiscing.</p>
               <p>Proin ut urna enim.</p>
               <div class="text-right">
                  <small class="text-muted mr-2">Was this information useful?</small>
                  <button class="btn btn-secondary btn-xs" type="button">
                     <em class="fa fa-thumbs-up text-muted"></em>
                  </button>
                  <button class="btn btn-secondary btn-xs" type="button">
                     <em class="fa fa-thumbs-down text-muted"></em>
                  </button>
               </div>
            </div>
         </div>
      </div>
   </div>
   <h4 class="my-3 py-4 text-dark">Buyer Questions</h4>
   <div id="accordion2">
      <div class="card b0 mb-2">
         <div class="card-header">
            <h4 class="card-title">
               <a class="text-inherit" data-toggle="collapse" data-parent="#accordion2" href="#acc2collapse1">
                  <small>
                     <em class="fa fa-plus text-primary mr-2"></em>
                  </small>
                  <span>How can I change the color?</span>
               </a>
            </h4>
         </div>
         <div class="collapse" id="acc2collapse1">
            <div class="card-body">
               <p>Donec congue sagittis mi sit amet tincidunt. Quisque sollicitudin massa vel erat tincidunt blandit. Curabitur quis leo nulla. Phasellus faucibus placerat luctus. Integer fermentum molestie massa at congue. Quisque quis quam dictum diam
                  volutpat adipiscing.</p>
               <p>Proin ut urna enim.</p>
               <div class="text-right">
                  <small class="text-muted mr-2">Was this information useful?</small>
                  <button class="btn btn-secondary btn-xs" type="button">
                     <em class="fa fa-thumbs-up text-muted"></em>
                  </button>
                  <button class="btn btn-secondary btn-xs" type="button">
                     <em class="fa fa-thumbs-down text-muted"></em>
                  </button>
               </div>
            </div>
         </div>
      </div>
      <div class="card b0 mb-2">
         <div class="card-header">
            <h4 class="card-title">
               <a class="text-inherit" data-toggle="collapse" data-parent="#accordion2" href="#acc2collapse2">
                  <small>
                     <em class="fa fa-plus text-primary mr-2"></em>
                  </small>
                  <span>How can I change the color?</span>
               </a>
            </h4>
         </div>
         <div class="collapse" id="acc2collapse2">
            <div class="card-body">
               <p>Donec congue sagittis mi sit amet tincidunt. Quisque sollicitudin massa vel erat tincidunt blandit. Curabitur quis leo nulla. Phasellus faucibus placerat luctus. Integer fermentum molestie massa at congue. Quisque quis quam dictum diam
                  volutpat adipiscing.</p>
               <p>Proin ut urna enim.</p>
               <div class="text-right">
                  <small class="text-muted mr-2">Was this information useful?</small>
                  <button class="btn btn-secondary btn-xs" type="button">
                     <em class="fa fa-thumbs-up text-muted"></em>
                  </button>
                  <button class="btn btn-secondary btn-xs" type="button">
                     <em class="fa fa-thumbs-down text-muted"></em>
                  </button>
               </div>
            </div>
         </div>
      </div>
      <div class="card b0 mb-2">
         <div class="card-header">
            <h4 class="card-title">
               <a class="text-inherit" data-toggle="collapse" data-parent="#accordion2" href="#acc2collapse3">
                  <small>
                     <em class="fa fa-plus text-primary mr-2"></em>
                  </small>
                  <span>How can I change the color?</span>
               </a>
            </h4>
         </div>
         <div class="collapse" id="acc2collapse3">
            <div class="card-body">
               <p>Donec congue sagittis mi sit amet tincidunt. Quisque sollicitudin massa vel erat tincidunt blandit. Curabitur quis leo nulla. Phasellus faucibus placerat luctus. Integer fermentum molestie massa at congue. Quisque quis quam dictum diam
                  volutpat adipiscing.</p>
               <p>Proin ut urna enim.</p>
               <div class="text-right">
                  <small class="text-muted mr-2">Was this information useful?</small>
                  <button class="btn btn-secondary btn-xs" type="button">
                     <em class="fa fa-thumbs-up text-muted"></em>
                  </button>
                  <button class="btn btn-secondary btn-xs" type="button">
                     <em class="fa fa-thumbs-down text-muted"></em>
                  </button>
               </div>
            </div>
         </div>
      </div>
      <div class="card b0 mb-2">
         <div class="card-header">
            <h4 class="card-title">
               <a class="text-inherit" data-toggle="collapse" data-parent="#accordion2" href="#acc2collapse4">
                  <small>
                     <em class="fa fa-plus text-primary mr-2"></em>
                  </small>
                  <span>How can I change the color?</span>
               </a>
            </h4>
         </div>
         <div class="collapse" id="acc2collapse4">
            <div class="card-body">
               <p>Donec congue sagittis mi sit amet tincidunt. Quisque sollicitudin massa vel erat tincidunt blandit. Curabitur quis leo nulla. Phasellus faucibus placerat luctus. Integer fermentum molestie massa at congue. Quisque quis quam dictum diam
                  volutpat adipiscing.</p>
               <p>Proin ut urna enim.</p>
               <div class="text-right">
                  <small class="text-muted mr-2">Was this information useful?</small>
                  <button class="btn btn-secondary btn-xs" type="button">
                     <em class="fa fa-thumbs-up text-muted"></em>
                  </button>
                  <button class="btn btn-secondary btn-xs" type="button">
                     <em class="fa fa-thumbs-down text-muted"></em>
                  </button>
               </div>
            </div>
         </div>
      </div>
   </div>
   <h4 class="my-3 py-4 text-dark">Seller Questions</h4>
   <div id="accordion3">
      <div class="card b0 mb-2">
         <div class="card-header">
            <h4 class="card-title">
               <a class="text-inherit" data-toggle="collapse" data-parent="#accordion3" href="#acc3collapse1">
                  <small>
                     <em class="fa fa-plus text-primary mr-2"></em>
                  </small>
                  <span>How can I change the color?</span>
               </a>
            </h4>
         </div>
         <div class="collapse" id="acc3collapse1">
            <div class="card-body">
               <p>Donec congue sagittis mi sit amet tincidunt. Quisque sollicitudin massa vel erat tincidunt blandit. Curabitur quis leo nulla. Phasellus faucibus placerat luctus. Integer fermentum molestie massa at congue. Quisque quis quam dictum diam
                  volutpat adipiscing.</p>
               <p>Proin ut urna enim.</p>
               <div class="text-right">
                  <small class="text-muted mr-2">Was this information useful?</small>
                  <button class="btn btn-secondary btn-xs" type="button">
                     <em class="fa fa-thumbs-up text-muted"></em>
                  </button>
                  <button class="btn btn-secondary btn-xs" type="button">
                     <em class="fa fa-thumbs-down text-muted"></em>
                  </button>
               </div>
            </div>
         </div>
      </div>
      <div class="card b0 mb-2">
         <div class="card-header">
            <h4 class="card-title">
               <a class="text-inherit" data-toggle="collapse" data-parent="#accordion3" href="#acc3collapse2">
                  <small>
                     <em class="fa fa-plus text-primary mr-2"></em>
                  </small>
                  <span>How can I change the color?</span>
               </a>
            </h4>
         </div>
         <div class="collapse" id="acc3collapse2">
            <div class="card-body">
               <p>Donec congue sagittis mi sit amet tincidunt. Quisque sollicitudin massa vel erat tincidunt blandit. Curabitur quis leo nulla. Phasellus faucibus placerat luctus. Integer fermentum molestie massa at congue. Quisque quis quam dictum diam
                  volutpat adipiscing.</p>
               <p>Proin ut urna enim.</p>
               <div class="text-right">
                  <small class="text-muted mr-2">Was this information useful?</small>
                  <button class="btn btn-secondary btn-xs" type="button">
                     <em class="fa fa-thumbs-up text-muted"></em>
                  </button>
                  <button class="btn btn-secondary btn-xs" type="button">
                     <em class="fa fa-thumbs-down text-muted"></em>
                  </button>
               </div>
            </div>
         </div>
      </div>
      <div class="card b0 mb-2">
         <div class="card-header">
            <h4 class="card-title">
               <a class="text-inherit" data-toggle="collapse" data-parent="#accordion3" href="#acc3collapse3">
                  <small>
                     <em class="fa fa-plus text-primary mr-2"></em>
                  </small>
                  <span>How can I change the color?</span>
               </a>
            </h4>
         </div>
         <div class="collapse" id="acc3collapse3">
            <div class="card-body">
               <p>Donec congue sagittis mi sit amet tincidunt. Quisque sollicitudin massa vel erat tincidunt blandit. Curabitur quis leo nulla. Phasellus faucibus placerat luctus. Integer fermentum molestie massa at congue. Quisque quis quam dictum diam
                  volutpat adipiscing.</p>
               <p>Proin ut urna enim.</p>
               <div class="text-right">
                  <small class="text-muted mr-2">Was this information useful?</small>
                  <button class="btn btn-secondary btn-xs" type="button">
                     <em class="fa fa-thumbs-up text-muted"></em>
                  </button>
                  <button class="btn btn-secondary btn-xs" type="button">
                     <em class="fa fa-thumbs-down text-muted"></em>
                  </button>
               </div>
            </div>
         </div>
      </div>
      <div class="card b0 mb-2">
         <div class="card-header">
            <h4 class="card-title">
               <a class="text-inherit" data-toggle="collapse" data-parent="#accordion3" href="#acc3collapse4">
                  <small>
                     <em class="fa fa-plus text-primary mr-2"></em>
                  </small>
                  <span>How can I change the color?</span>
               </a>
            </h4>
         </div>
         <div class="collapse" id="acc3collapse4">
            <div class="card-body">
               <p>Donec congue sagittis mi sit amet tincidunt. Quisque sollicitudin massa vel erat tincidunt blandit. Curabitur quis leo nulla. Phasellus faucibus placerat luctus. Integer fermentum molestie massa at congue. Quisque quis quam dictum diam
                  volutpat adipiscing.</p>
               <p>Proin ut urna enim.</p>
               <div class="text-right">
                  <small class="text-muted mr-2">Was this information useful?</small>
                  <button class="btn btn-secondary btn-xs" type="button">
                     <em class="fa fa-thumbs-up text-muted"></em>
                  </button>
                  <button class="btn btn-secondary btn-xs" type="button">
                     <em class="fa fa-thumbs-down text-muted"></em>
                  </button>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
