@{
    ViewBag.Title = "TeamViewer";
}
<div class="content-heading">Team viewer
   <div class="ml-auto">
      <em class="fas fa-exclamation-triangle text-warning"></em>
   </div>
</div>
<div class="row">
   <div class="col-xl-4 col-lg-6">
      <!-- Team Card-->
      <div class="card card-default">
         <div class="card-header">
            <div class="float-right">
               <div class="badge badge-success">free</div>
            </div>
            <div class="card-title">Team #1</div>
         </div>
         <div class="card-body bt">
            <a class="inline" href="#" data-toggle="tooltip" data-title="Team leader">
               <img class="rounded-circle thumb48" src="~/Content/Images/user/03.jpg" alt="project member" />
            </a>
            <a class="inline" href="#">
               <img class="rounded-circle thumb24" src="~/Content/Images/user/02.jpg" alt="project member" />
            </a>
            <a class="inline" href="#">
               <img class="rounded-circle thumb24" src="~/Content/Images/user/04.jpg" alt="project member" />
            </a>
            <a class="inline" href="#">
               <img class="rounded-circle thumb24" src="~/Content/Images/user/05.jpg" alt="project member" />
            </a>
            <a class="inline" href="#">
               <img class="rounded-circle thumb24" src="~/Content/Images/user/06.jpg" alt="project member" />
            </a>
            <a class="inline" href="#">
               <img class="rounded-circle thumb24" src="~/Content/Images/user/07.jpg" alt="project member" />
            </a>
         </div>
         <div class="card-body bb text-center">
            <div data-toggle="tooltip" data-title="Progress of asigned tasks">
               <div class="progress progress-xs m-0">
                  <div class="progress-bar bg-info" style="width:50%;"></div>
               </div>
            </div>
         </div>
         <div class="card-body bb">
            <div class="row text-center">
               <div class="col-4">
                  <p class="text-bold">BUDGET</p>
                  <div class="inline mr-2" data-sparkline="" data-values="60,40" data-type="pie" data-height="24" data-slice-colors="[&quot;#edf1f2&quot;, &quot;#ff902b&quot;]"></div>
               </div>
               <div class="col-4">
                  <p class="text-bold">TASKS</p>
                  <div class="h3 m-0">26</div>
               </div>
               <div class="col-4">
                  <p class="text-bold">AVAILABITY</p>
                  <div class="inline mr-2" data-sparkline="" data-values="70,30" data-type="pie" data-height="24" data-slice-colors="[&quot;#edf1f2&quot;, &quot;#ff902b&quot;]"></div>
               </div>
            </div>
         </div>
         <div class="card-body">
            <ul class="list-inline m-0">
               <li class="list-inline-item">
                  <div class="badge bg-gray">angularjs</div>
               </li>
               <li class="list-inline-item">
                  <div class="badge bg-gray">jquery</div>
               </li>
               <li class="list-inline-item">
                  <div class="badge bg-gray">gulp</div>
               </li>
               <li class="list-inline-item">
                  <div class="badge bg-gray">git</div>
               </li>
               <li class="list-inline-item">
                  <div class="badge p-1 bg-gray">ios</div>
               </li>
            </ul>
         </div>
         <div class="card-footer text-center"><a class="btn btn-secondary btn-oval" href="#">Manage Team</a>
         </div>
      </div>
      <!-- end Team Card-->
   </div>
   <div class="col-xl-4 col-lg-6">
      <!-- Team Card-->
      <div class="card card-default">
         <div class="card-header">
            <div class="float-right">
               <div class="badge bg-gray">asigned</div>
            </div>
            <div class="card-title">Team #2</div>
         </div>
         <div class="card-body bt">
            <a class="inline" href="#" data-toggle="tooltip" data-title="Team leader">
               <img class="rounded-circle thumb48" src="~/Content/Images/user/03.jpg" alt="project member" />
            </a>
            <a class="inline" href="#">
               <img class="rounded-circle thumb24" src="~/Content/Images/user/02.jpg" alt="project member" />
            </a>
            <a class="inline" href="#">
               <img class="rounded-circle thumb24" src="~/Content/Images/user/04.jpg" alt="project member" />
            </a>
            <a class="inline" href="#">
               <img class="rounded-circle thumb24" src="~/Content/Images/user/05.jpg" alt="project member" />
            </a>
            <a class="inline" href="#">
               <img class="rounded-circle thumb24" src="~/Content/Images/user/09.jpg" alt="project member" />
            </a>
         </div>
         <div class="card-body bb text-center">
            <div data-toggle="tooltip" data-title="Progress of asigned tasks">
               <div class="progress progress-xs m-0">
                  <div class="progress-bar bg-info" style="width:90%;"></div>
               </div>
            </div>
         </div>
         <div class="card-body bb">
            <div class="row text-center">
               <div class="col-4">
                  <p class="text-bold">BUDGET</p>
                  <div class="inline mr-2" data-sparkline="" data-values="10,90" data-type="pie" data-height="24" data-slice-colors="[&quot;#edf1f2&quot;, &quot;#f05050&quot;]"></div>
               </div>
               <div class="col-4">
                  <p class="text-bold">TASKS</p>
                  <div class="h3 m-0">145</div>
               </div>
               <div class="col-4">
                  <p class="text-bold">AVAILABITY</p>
                  <div class="inline mr-2" data-sparkline="" data-values="40,60" data-type="pie" data-height="24" data-slice-colors="[&quot;#edf1f2&quot;, &quot;#27c24c&quot;]"></div>
               </div>
            </div>
         </div>
         <div class="card-body">
            <ul class="list-inline m-0">
               <li class="list-inline-item">
                  <div class="badge bg-gray">angularjs</div>
               </li>
               <li class="list-inline-item">
                  <div class="badge bg-gray">jquery</div>
               </li>
               <li class="list-inline-item">
                  <div class="badge bg-gray">gulp</div>
               </li>
               <li class="list-inline-item">
                  <div class="badge bg-gray">git</div>
               </li>
               <li class="list-inline-item">
                  <div class="badge p-1 bg-gray">ios</div>
               </li>
            </ul>
         </div>
         <div class="card-footer text-center"><a class="btn btn-secondary btn-oval" href="#">Manage Team</a>
         </div>
      </div>
      <!-- end Team Card-->
   </div>
   <div class="col-xl-4 col-lg-6">
      <!-- Team Card-->
      <div class="card card-default">
         <div class="card-header">
            <div class="float-right">
               <div class="badge badge-success">free</div>
            </div>
            <div class="card-title">Team #3</div>
         </div>
         <div class="card-body bt">
            <a class="inline" href="#" data-toggle="tooltip" data-title="Team leader">
               <img class="rounded-circle thumb48" src="~/Content/Images/user/03.jpg" alt="project member" />
            </a>
            <a class="inline" href="#">
               <img class="rounded-circle thumb24" src="~/Content/Images/user/02.jpg" alt="project member" />
            </a>
            <a class="inline" href="#">
               <img class="rounded-circle thumb24" src="~/Content/Images/user/04.jpg" alt="project member" />
            </a>
            <a class="inline" href="#">
               <img class="rounded-circle thumb24" src="~/Content/Images/user/05.jpg" alt="project member" />
            </a>
            <a class="inline" href="#">
               <img class="rounded-circle thumb24" src="~/Content/Images/user/06.jpg" alt="project member" />
            </a>
            <a class="inline" href="#">
               <img class="rounded-circle thumb24" src="~/Content/Images/user/07.jpg" alt="project member" />
            </a>
         </div>
         <div class="card-body bb text-center">
            <div data-toggle="tooltip" data-title="Progress of asigned tasks">
               <div class="progress progress-xs m-0">
                  <div class="progress-bar bg-info" style="width:50%;"></div>
               </div>
            </div>
         </div>
         <div class="card-body bb">
            <div class="row text-center">
               <div class="col-4">
                  <p class="text-bold">BUDGET</p>
                  <div class="inline mr-2" data-sparkline="" data-values="60,40" data-type="pie" data-height="24" data-slice-colors="[&quot;#edf1f2&quot;, &quot;#ff902b&quot;]"></div>
               </div>
               <div class="col-4">
                  <p class="text-bold">TASKS</p>
                  <div class="h3 m-0">98</div>
               </div>
               <div class="col-4">
                  <p class="text-bold">AVAILABITY</p>
                  <div class="inline mr-2" data-sparkline="" data-values="40,60" data-type="pie" data-height="24" data-slice-colors="[&quot;#edf1f2&quot;, &quot;#27c24c&quot;]"></div>
               </div>
            </div>
         </div>
         <div class="card-body">
            <ul class="list-inline m-0">
               <li class="list-inline-item">
                  <div class="badge bg-gray">angularjs</div>
               </li>
               <li class="list-inline-item">
                  <div class="badge bg-gray">jquery</div>
               </li>
               <li class="list-inline-item">
                  <div class="badge bg-gray">gulp</div>
               </li>
               <li class="list-inline-item">
                  <div class="badge bg-gray">git</div>
               </li>
               <li class="list-inline-item">
                  <div class="badge p-1 bg-gray">ios</div>
               </li>
            </ul>
         </div>
         <div class="card-footer text-center"><a class="btn btn-secondary btn-oval" href="#">Manage Team</a>
         </div>
      </div>
      <!-- end Team Card-->
   </div>
   <div class="col-xl-4 col-lg-6">
      <!-- Team Card-->
      <div class="card card-default">
         <div class="card-header">
            <div class="float-right">
               <div class="badge bg-gray">asigned</div>
            </div>
            <div class="card-title">Team #4</div>
         </div>
         <div class="card-body bt">
            <a class="inline" href="#" data-toggle="tooltip" data-title="Team leader">
               <img class="rounded-circle thumb48" src="~/Content/Images/user/03.jpg" alt="project member" />
            </a>
            <a class="inline" href="#">
               <img class="rounded-circle thumb24" src="~/Content/Images/user/02.jpg" alt="project member" />
            </a>
            <a class="inline" href="#">
               <img class="rounded-circle thumb24" src="~/Content/Images/user/04.jpg" alt="project member" />
            </a>
            <a class="inline" href="#">
               <img class="rounded-circle thumb24" src="~/Content/Images/user/05.jpg" alt="project member" />
            </a>
            <a class="inline" href="#">
               <img class="rounded-circle thumb24" src="~/Content/Images/user/06.jpg" alt="project member" />
            </a>
            <a class="inline" href="#">
               <img class="rounded-circle thumb24" src="~/Content/Images/user/07.jpg" alt="project member" />
            </a>
            <a class="inline" href="#">
               <img class="rounded-circle thumb24" src="~/Content/Images/user/08.jpg" alt="project member" />
            </a>
            <a class="inline" href="#">
               <img class="rounded-circle thumb24" src="~/Content/Images/user/09.jpg" alt="project member" />
            </a>
         </div>
         <div class="card-body bb text-center">
            <div data-toggle="tooltip" data-title="Progress of asigned tasks">
               <div class="progress progress-xs m-0">
                  <div class="progress-bar bg-info" style="width:25%;"></div>
               </div>
            </div>
         </div>
         <div class="card-body bb">
            <div class="row text-center">
               <div class="col-4">
                  <p class="text-bold">BUDGET</p>
                  <div class="inline mr-2" data-sparkline="" data-values="60,40" data-type="pie" data-height="24" data-slice-colors="[&quot;#edf1f2&quot;, &quot;#ff902b&quot;]"></div>
               </div>
               <div class="col-4">
                  <p class="text-bold">TASKS</p>
                  <div class="h3 m-0">145</div>
               </div>
               <div class="col-4">
                  <p class="text-bold">AVAILABITY</p>
                  <div class="inline mr-2" data-sparkline="" data-values="40,60" data-type="pie" data-height="24" data-slice-colors="[&quot;#edf1f2&quot;, &quot;#27c24c&quot;]"></div>
               </div>
            </div>
         </div>
         <div class="card-body">
            <ul class="list-inline m-0">
               <li class="list-inline-item">
                  <div class="badge bg-gray">angularjs</div>
               </li>
               <li class="list-inline-item">
                  <div class="badge bg-gray">jquery</div>
               </li>
               <li class="list-inline-item">
                  <div class="badge bg-gray">gulp</div>
               </li>
               <li class="list-inline-item">
                  <div class="badge bg-gray">git</div>
               </li>
               <li class="list-inline-item">
                  <div class="badge p-1 bg-gray">ios</div>
               </li>
            </ul>
         </div>
         <div class="card-footer text-center"><a class="btn btn-secondary btn-oval" href="#">Manage Team</a>
         </div>
      </div>
      <!-- end Team Card-->
   </div>
   <div class="col-xl-4 col-lg-6">
      <!-- Team Card-->
      <div class="card card-default">
         <div class="card-header">
            <div class="float-right">
               <div class="badge bg-gray">asigned</div>
            </div>
            <div class="card-title">Team #5</div>
         </div>
         <div class="card-body bt">
            <a class="inline" href="#" data-toggle="tooltip" data-title="Team leader">
               <img class="rounded-circle thumb48" src="~/Content/Images/user/03.jpg" alt="project member" />
            </a>
            <a class="inline" href="#">
               <img class="rounded-circle thumb24" src="~/Content/Images/user/02.jpg" alt="project member" />
            </a>
            <a class="inline" href="#">
               <img class="rounded-circle thumb24" src="~/Content/Images/user/04.jpg" alt="project member" />
            </a>
            <a class="inline" href="#">
               <img class="rounded-circle thumb24" src="~/Content/Images/user/05.jpg" alt="project member" />
            </a>
            <a class="inline" href="#">
               <img class="rounded-circle thumb24" src="~/Content/Images/user/06.jpg" alt="project member" />
            </a>
            <a class="inline" href="#">
               <img class="rounded-circle thumb24" src="~/Content/Images/user/07.jpg" alt="project member" />
            </a>
            <a class="inline" href="#">
               <img class="rounded-circle thumb24" src="~/Content/Images/user/08.jpg" alt="project member" />
            </a>
            <a class="inline" href="#">
               <img class="rounded-circle thumb24" src="~/Content/Images/user/09.jpg" alt="project member" />
            </a>
         </div>
         <div class="card-body bb text-center">
            <div data-toggle="tooltip" data-title="Progress of asigned tasks">
               <div class="progress progress-xs m-0">
                  <div class="progress-bar bg-info" style="width:50%;"></div>
               </div>
            </div>
         </div>
         <div class="card-body bb">
            <div class="row text-center">
               <div class="col-4">
                  <p class="text-bold">BUDGET</p>
                  <div class="inline mr-2" data-sparkline="" data-values="60,40" data-type="pie" data-height="24" data-slice-colors="[&quot;#edf1f2&quot;, &quot;#ff902b&quot;]"></div>
               </div>
               <div class="col-4">
                  <p class="text-bold">TASKS</p>
                  <div class="h3 m-0">500</div>
               </div>
               <div class="col-4">
                  <p class="text-bold">AVAILABITY</p>
                  <div class="inline mr-2" data-sparkline="" data-values="40,60" data-type="pie" data-height="24" data-slice-colors="[&quot;#edf1f2&quot;, &quot;#27c24c&quot;]"></div>
               </div>
            </div>
         </div>
         <div class="card-body">
            <ul class="list-inline m-0">
               <li class="list-inline-item">
                  <div class="badge bg-gray">angularjs</div>
               </li>
               <li class="list-inline-item">
                  <div class="badge bg-gray">jquery</div>
               </li>
               <li class="list-inline-item">
                  <div class="badge bg-gray">gulp</div>
               </li>
               <li class="list-inline-item">
                  <div class="badge bg-gray">git</div>
               </li>
               <li class="list-inline-item">
                  <div class="badge p-1 bg-gray">ios</div>
               </li>
            </ul>
         </div>
         <div class="card-footer text-center"><a class="btn btn-secondary btn-oval" href="#">Manage Team</a>
         </div>
      </div>
      <!-- end Team Card-->
   </div>
   <div class="col-xl-4 col-lg-6">
      <!-- Team Card-->
      <div class="card card-default">
         <div class="card-header">
            <div class="float-right">
               <div class="badge badge-success">free</div>
            </div>
            <div class="card-title">Team #6</div>
         </div>
         <div class="card-body bt">
            <a class="inline" href="#" data-toggle="tooltip" data-title="Team leader">
               <img class="rounded-circle thumb48" src="~/Content/Images/user/03.jpg" alt="project member" />
            </a>
            <a class="inline" href="#">
               <img class="rounded-circle thumb24" src="~/Content/Images/user/02.jpg" alt="project member" />
            </a>
            <a class="inline" href="#">
               <img class="rounded-circle thumb24" src="~/Content/Images/user/04.jpg" alt="project member" />
            </a>
            <a class="inline" href="#">
               <img class="rounded-circle thumb24" src="~/Content/Images/user/05.jpg" alt="project member" />
            </a>
            <a class="inline" href="#">
               <img class="rounded-circle thumb24" src="~/Content/Images/user/06.jpg" alt="project member" />
            </a>
            <a class="inline" href="#">
               <img class="rounded-circle thumb24" src="~/Content/Images/user/07.jpg" alt="project member" />
            </a>
            <a class="inline" href="#">
               <img class="rounded-circle thumb24" src="~/Content/Images/user/08.jpg" alt="project member" />
            </a>
            <a class="inline" href="#">
               <img class="rounded-circle thumb24" src="~/Content/Images/user/09.jpg" alt="project member" />
            </a>
         </div>
         <div class="card-body bb text-center">
            <div data-toggle="tooltip" data-title="Progress of asigned tasks">
               <div class="progress progress-xs m-0">
                  <div class="progress-bar bg-info" style="width:50%;"></div>
               </div>
            </div>
         </div>
         <div class="card-body bb">
            <div class="row text-center">
               <div class="col-4">
                  <p class="text-bold">BUDGET</p>
                  <div class="inline mr-2" data-sparkline="" data-values="5,95" data-type="pie" data-height="24" data-slice-colors="[&quot;#edf1f2&quot;, &quot;#f05050&quot;]"></div>
               </div>
               <div class="col-4">
                  <p class="text-bold">TASKS</p>
                  <div class="h3 m-0">145</div>
               </div>
               <div class="col-4">
                  <p class="text-bold">AVAILABITY</p>
                  <div class="inline mr-2" data-sparkline="" data-values="70,30" data-type="pie" data-height="24" data-slice-colors="[&quot;#edf1f2&quot;, &quot;#ff902b&quot;]"></div>
               </div>
            </div>
         </div>
         <div class="card-body">
            <ul class="list-inline m-0">
               <li class="list-inline-item">
                  <div class="badge bg-gray">angularjs</div>
               </li>
               <li class="list-inline-item">
                  <div class="badge bg-gray">jquery</div>
               </li>
               <li class="list-inline-item">
                  <div class="badge bg-gray">gulp</div>
               </li>
               <li class="list-inline-item">
                  <div class="badge bg-gray">git</div>
               </li>
               <li class="list-inline-item">
                  <div class="badge p-1 bg-gray">ios</div>
               </li>
            </ul>
         </div>
         <div class="card-footer text-center"><a class="btn btn-secondary btn-oval" href="#">Manage Team</a>
         </div>
      </div>
      <!-- end Team Card-->
   </div>
</div>
@section Scripts {
    <script src="@Scripts.Url("~/Vendor/jquery-sparkline/jquery.sparkline.js")"></script>
}
